.vscode/
*.exe
c++.code-workspace

practice/OOP/BooksStore/build/
practice/OOP/Students/build/
practice/OOP/bookstore
practice/OOP/build/
practice/OOP/Transport/build/
practice/OOP/Company/build/
practice/OOP/BookingHotel/build/
practice/OOP/Vehicles/build/
practice/OOP/Cafe/build/
practice/OOP/Farm/build/

practice/task_manager/include/json.hpp
practice/task_manager/build

*.so
*.ico
*.bmp
*.o
*.txt

data_structures/BST/bst
practice/multithreading/ATM/atm
practice/multithreading/Cafe/cafe
practice/multithreading/basic/first_task
practice/multithreading/basic/zero_task
practice/multithreading/fileLoader_simulator/simulation
practice/multithreading/tasks_queue/tasks
system_programming/my_library/libConsoleIO.so
system_programming/my_library/libmylib.so
system_programming/my_library/main_console
system_programming/my_library/main_dynamic
system_programming/my_library/main_static
system_programming/readWrite/fifth_task/creatingDir
system_programming/readWrite/first_task/copyC
system_programming/readWrite/fourth_task/pathFinder
patterns/creational/singleton/singleton
patterns/creational/factoryMethod/factoryMethod
system_programming/processes/cat
patterns/creational/abstractFactory/abstractFactory


data_structures/my_vector/build/
algorithms/theory_of_algs/lab1/lab1

