.vscode/
*.exe
c++.code-workspace

practice/OOP/BooksStore/build/
practice/OOP/Students/build/
practice/OOP/bookstore
practice/OOP/build/
practice/OOP/Transport/build/
practice/OOP/Company/build/
practice/OOP/BookingHotel/build/
practice/OOP/Vehicles/build/
practice/OOP/Cafe/build/

data_structures/my_vector/build/